<div class="container">
  <div class="row justify-content-center">
    <div>
      <%= form_with model: @map, local: true do |f| %>
        <% if @map.errors.any? %>
          <div class="alert alert-danger">
            <ul>
              <% @map.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="form-group mt-2">
          <%= f.label :name, class: 'form-label' %>
          <%= f.text_field :name, class: 'form-control' %>
        </div>

        <div class="form-group mt-2">
          <%= f.label :description, class: 'form-label' %>
          <%= f.text_field :description,
                    class: 'form-control',
                    placeholder: 'Enter description (max 30 characters)',
                    maxlength: 30 %>
        </div>
        <div class="buttons-container">
          <%= link_to "Delete Map", map_path(@map), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "button_destroy" %>
          <%= f.submit 'Save', style: 'height: 34.5px; border: 0px; padding-top: 0px; padding-bottom: 0px;', class: 'button_primary' %>
        </div>
      <% end %>

    </div>
  </div>
</div>
