<% content_for :meta_title, "#{DEFAULT_META["meta_product_name"]} - #{@map.name} map" %>
<% content_for :meta_description, @map.description %>

<div data-controller="map"
     data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
     data-map-segments-coordinates-value="<%= @segments_coordinates.to_json %>"
     data-map-show-search-value="true"
     data-map-show-draw-tool-value="true"
     data-map-show-annotations-value="true"
     data-map-import-draw-url-value="<%= map_import_drawing_path(@map) %>"
     data-map-id-value="<%= @map.id %>"
     data-map-destroy-url-value="<%= explored_point_of_interests_path %>"
     data-map-create-url-value="<%= explored_point_of_interests_path %>"
     data-map-pois-value="<%= @pois.to_json %>">


  <div id="map-container" style="width: 100%; height: calc(100vh - 60px - 42.46px - 8px);" data-map-target="container"></div>

  <div class="search-bar", style="position: relative"></div>

  <div style="position: absolute; bottom:103.8px; right:10px; z-index:98; background-color:rgba(255,255,255)">
    <select data-action="change->map#changeStyle" data-map-target="styleSelect" style="background-color:rgba(255,255,255)">
      <option value="mapbox://styles/mapbox/streets-v11">Streets</option>
      <option value="mapbox://styles/mapbox/outdoors-v11">Outdoors</option>
      <option value="mapbox://styles/mapbox/light-v10">Light</option>
      <option value="mapbox://styles/mapbox/dark-v10">Dark</option>
      <option value="mapbox://styles/mapbox/satellite-v9">Satellite</option>
    </select>
  </div>

  <div>
    <div class="tool-bar" style="z-index: 99;">
      <span type="button" class="tab-item" data-map-target="saveMatched" data-action="click->map#saveMatched">
        <%= image_tag "arrow.forward.to.line.svg", alt: "Arrow forward to line" %>Match & save
      </span>
      <span type="button" class="tab-item" data-map-target="saveFreeform" data-action="click->map#saveFreeform">
        <%= image_tag "mappin.svg", alt: "mappin icon" %>Save raw
      </span>
      <span type="button" class="tab-item" data-bs-toggle="modal" data-bs-target="#createSegmentModal">
        <%= image_tag "tray.and.arrow.down.svg", alt: "Arrow forward pointing to an area" %>Import
      </span>
    </div>
    <div class="modal fade" id="createSegmentModal" tabindex="-1" aria-labelledby="createSegmentModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="createSegmentModalLabel">Import data</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <%= simple_form_for([@map, @segment], url: map_import_track_path(@map), data: {action: "submit->map#loading"}) do |f| %>
              <%= f.input :gpx, as: :file, input_html: { class: "form-control" }, label_html: { class: "form-label" } %>
              <%= f.input :mode, as: :radio_buttons,
                          collection: [['matched', 'matched'], ['raw data', 'freeform']],
                          checked: 'matched',
                          legend_tag: false %>
              <%= f.button :submit, 'Upload', class: 'button_primary' %>
            <% end %>
          </div>
          <div id="loading" class="modal-footer d-none" data-map-target="loading">
            <div><p>Processing the file...</p></div>
            <div><%= image_tag "Plora5.gif", alt: "loading animation" %></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
