<div class="map_card_default">
  <div class="map_card_img">
    <div class="map_card_map"
        data-controller="map"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
        data-map-id-value="<%= map.id %>"
        data-map-segments-coordinates-value="<%= @segments_coordinates[map.id].to_json %>"
        data-map-show-draw-tool-value="false"
        data-map-padding-value="10">
      <div data-map-target="container" style="width: 100%; height: 200px;"></div>
      <div data-map-target="styleSelect"></div>
    </div>
  </div>

  <div class="map_card_separator">
  </div>

  <div class="map_card_bottom_box d-flex justify-content-between">
    <div class="map_card_text_box">
      <p class="text_map_name"><%= map.name %></p>
      <p class="text_map_description"><%= map.description %></p>
    </div>
    <%= link_to edit_map_path(map), class: "button_link" do %>
      <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M22.7275 7.08712L23.3867 6.41905C23.7207 6.08079 23.7471 5.61569 23.4131 5.29434L23.1846
        5.06601C22.8857 4.77849 22.3848 4.82077 22.0596 5.13366L21.374 5.77636L22.7275 7.08712ZM12.3213
        16.0848L14.123 15.3576L22.0859 7.69599L20.7324 6.40214L12.7695 14.0722L11.9785 15.7466C11.8906
        15.9411 12.1191 16.1609 12.3213 16.0848ZM8.98145 21.7592H19.2207C20.9082 21.7592 21.9014 20.812
        21.9014 19.0023V10.0723L20.1436 11.7551V18.8501C20.1436 19.6619 19.6953 20.0679 19.1064
        20.0679H9.0957C8.28711 20.0679 7.84766 19.6619 7.84766 18.8501V9.45494C7.84766 8.64311 8.28711
        8.2372 9.0957 8.2372H16.5576L18.3066 6.5459H8.98145C7.08301 6.5459 6.08984 7.49303 6.08984
        9.30272V19.0023C6.08984 20.812 7.08301 21.7592 8.98145 21.7592Z" fill="#00ACE6"/>
      </svg>
    <% end %>
  </div>
</div>
