<div class="navbar navbar-expand-sm navbar-light navbar-lewagon pt-0 pb-0">
  <div class="container-fluid p-1">
    <%= link_to root_path, class: "logo" do %>
      <%= image_tag "Group 8797.svg", alt: "Plora Logo" %>
    <% end %>

    <% if user_signed_in?%>
      <span data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <div class="menu-dropdown" >
          <%= current_user.avatar_tag %>
        </div>
      </span>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto d-flex flex-row justify-content-around ">
          <li class="nav-item active">
            <%= link_to "My Profile", "#", class: "nav-link button_link" %>
          </li>
          <li class="nav-item ">
            <%= link_to "My Maps", maps_path, class: "nav-link button_link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "nav-link button_link" %>
          </li>
        </ul>
      </div>
    <% else %>
      <%= link_to "Log in", new_user_session_path, class: "nav-link button_link" %>
    <% end %>
  </div>
</div>
