<div class="navbar navbar-expand-sm navbar-light navbar-lewagon pt-0 pb-0">
  <div class="container-fluid">
    <%= link_to root_path, class: "logo" do %>
      <%= image_tag "Group 8797.svg", alt: "Plora Logo" %>
    <% end %>

    <% if user_signed_in?%>
      <span data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <div class="menu-dropdown" >
          <%= cl_image_tag current_user.photo.key, class: "avatar-bordered dropdown-toggle", id: "navbarDropdown",
            data:{bs_toggle: "dropdown"}, aria_haspopup: "true", aria_expanded: "false" if current_user.photo.attached?%>
          <%= image_tag "chevron.down.svg", alt: "Chevron pointing down", class: "menu-chevron" %>
        </div>
      </span>
    <% else %>
      <%= link_to "Login", new_user_session_path, class: "nav-link button_link" %>
    <% end %>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item active">
            <%= link_to "My Profile", "#", class: "nav-link button_link" %>
          </li>
          <li class="nav-item">
            <%= link_to "My Maps", maps_path, class: "nav-link button_link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "nav-link button_link" %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link button_link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="navbar-separator"></div>
</div>


<script>
document.addEventListener('DOMContentLoaded', function () {
  const chevronElement = document.querySelector('.menu-chevron');
  const collapseElement = document.querySelector('#navbarSupportedContent');

  collapseElement.addEventListener('shown.bs.collapse', function () {
    chevronElement.src = '/assets/chevron.up.svg';
  });

  collapseElement.addEventListener('hidden.bs.collapse', function () {
    chevronElement.src = '/assets/chevron.down.svg';
  });
});
</script>
